{% extends "base2.html" %}
{% block navBar %}
{{ super() }}                   
	<li class="nav-item" role="presentation"><a class="nav-link" href="showSignUp" role="button">Sign up today</a></li>
	<li class="nav-item" role="presentation"><a class="nav-link" href="showSignIn" role="button">Sign In</a></li>
	<li class="nav-item" role="presentation"><a class="nav-link disabled" role="button"> Logged Out</a></li> 
{% endblock %}


{%block content %}
<div class = "row marketing"> 
	<p> Content 3 here </p>
</div>

{% endblock %} 