{% extends "index.html" %}
{% block navBar %}
{{ super() }}
<div class="container">
    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="./">Home</a>
                </li>
                <li role="presentation"><a href="/showSignIn">Sign In</a>
                </li>
                <li role="presentation"><a href="/showSignUp">Sign Up</a>
                </li>
		<li role="presentation"><a href="/calculator">Calculator</a>
                </li>
		<li role="presentation"><a href="/showToDo">To Do List</a>
                </li>
                <li role = "presentation"> 'Logged Out' </li>
            </ul>
        </nav>
        <h3 class="text-muted">Welcome</h3>
    </div>
{% endblock %}