{% extends "base.html" %}
{% block navBar %}
{{ super() }}

                <li class="list-inline-item" role="presentation"> logged in as {{username}} </li>
                <li class="list-inline-item" role="presentation"><a href="/signOut">Log Out</a></li>
{% endblock %}

{% block content %}
{{ super() }}


<div class="container">
<p> Here is your list:  <br> </p>
<table style="width:100%">
  <tr>
    <th>Item</th>
    <th>Date Entered</th> 
	<th></th> 
  </tr>
  
{% for item in list %}
<tr><td> {{item[1]}}</td><td> {{item[2]}}</td><td> 
<form action ="/deleteToDoItem" method ="post">
<button type="submit" name ="delete" value={{item[0]}} class="btn btn-primary btn-sm" type="button">Delete this item</button>
</form></td></tr>
{% endfor %}
</table>
</div>

<br>
	
<div class="jumbotron">
<h4>Enter a New Item Here</h4>
<form action="/toDoAppend" method="post">
  
<label for="inputItem" class="sr-only">Password</label>
<input type="text" name="inputItem" id="inputItem" class="form-control" placeholder="Item" required>
    
<input type="submit" />
</form>
</div>
</div>
{% endblock %}
