<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Mike King</title>
    <link href="/static/css/css1.css" rel="stylesheet"> 
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
 
<body>
<div class="container">
    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="./">Home</a>
                </li>
		<li role="presentation"><a href="/calculator">Calculator</a>
                </li>
		<li role="presentation"><a href="/showToDo">To Do List</a>
                </li>
                {% block navBar %}
                {% endblock %}
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">Welcome to the website of Mike King</h3>
    </div>
 {% block signInBlock %}
 {% endblock %}
 
 {% block content %}
 {% endblock %}
 


 
        <footer class="footer">
            <p>&copy; Company 2015</p>
        </footer>
 
    </div>
</body>
 
</html>