<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Mike King</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/static/css/css.css" rel="stylesheet">
</head>
 
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbar">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active" role="presentation" class="active"><a class="nav-link" href="./">Home</a></li>
			<li class="nav-item dropdown">
			<div class="dropdown">
				<a class="nav-link dropdown-toggle"  id="projectsDropdown" 
				role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Projects
				</a>
				<div class="dropdown-menu" aria-labelledby="projectsDropdown">
				<a class="dropdown-item" href="/calculator">Calculator</a>
				<a class="dropdown-item" href="#">Another project</a>
				</div>
			</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="testPagesDropdown" 
				role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Test Pages
				</a>
				<div class="dropdown-menu" aria-labelledby="testPagesDropdown">
				<a class="dropdown-item" href="/showValidationTest">Validation Test</a>
				<a class="dropdown-item" href="/showToDo">To Do List</a>
				</div>
			</li>
              {% block navBar %}
              {% endblock %}
		</ul>
	</div>
</nav>
</div>
 {% block signInBlock %}
 {% endblock %}
 
 {% block content %}
 {% endblock %}
 
 {% block content2 %}
 {% endblock %}
    </div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>