<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Calculator</title>
 
    
    <link href="/static/css/css1.css" rel="stylesheet">
 
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/signUp.js"></script>
  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="./">Home  </a></li>
            <li role="presentation"><a href="/showSignIn">Sign In  </a></li>
            <li role="presentation" class="active"><a href="/showSignUp">Sign Up  </a></li>
			</li><li role="presentation"><a href="/calculator">Calculator</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">The Creative Rut</h3>
      </div>
 
      <div class="jumbotron">
           <p>A project that I completed recently is a GUI Calculator using Tkinter. The aim of the project was to move away from entirely command line projects by creating an app in Tkinter.
		   The logic is written in Python, which is by far my strongest language. This website is also coded in Python using the Flask framework.</p>
		   <p>You can download the entire project <a href="/uploads/Calculator.py" download>here</a></p>
      </div>
 
       
 
      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>
 
    </div>
  </body>
</html>