{% extends "base2.html" %}
{% block navBar %}
{{ super() }}
	<li class="nav-item" role="presentation"><a class="nav-link" href="showSignUp" role="button">Sign up today</a></li>
	<li class="nav-item" role="presentation"><a class="nav-link" href="showSignIn" role="button">Sign In</a></li>
	<li class="nav-item" role="presentation"><a class="nav-link disabled" role="button"> Logged Out</a></li> 
{% endblock %}

{%block signInBlock %}
{{ super() }}

      <div class="jumbotron">
        <h2>Sign Up Here</h2>
        <!-- <form class="form-signin"> -->
		<form action="/signUp" method="post">
        <label for="inputName" class="sr-only">Name</label>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
        <input type="submit" />
       <!-- <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>-->
      </form>
      </div>
	  
{% endblock %}